<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <button class="button back only-icon" (click)="goToHome()">&nbsp;</button>
                        <h3 class="page-title cliente">
                            {{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}} -
                            Patrimonio</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item immobili"><span class="badge">4</span></div>
                            <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span
                                    class="bv_value">{{sessionService.getCliente().book_value}}</span></div>
                            <div class="item anagrafica"><span
                                    class="nome">{{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}}</span><span
                                    class="cf">{{sessionService.getCliente().codice_fiscale}}</span><span
                                    class="email">{{sessionService.getCliente().email}}</span></div>
                            <div class="item tools"></div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Abitazioni
                                    <span>{{totalePatrimoniA == 0 ? '--' : totalePatrimoniA}}</span></h3>
                                <ul class="item-list">
                                    <li *ngFor="let patrimonio of patrimoniA">
                                        <span class="badge patrimonio">{{patrimonio.numero_proprieta}}</span>
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Commerciali
                                    <span>{{totalePatrimoniC == 0 ? '--' : totalePatrimoniC}}</span></h3>
                                <ul class="item-list">
                                    <li *ngFor="let patrimonio of patrimoniC">
                                        <span class="badge patrimonio">{{patrimonio.numero_proprieta}}</span>
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}</span>
                                    </li>
                                    <li *ngIf="patrimoniC.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Terreni
                                    <span>{{totalePatrimoniT == 0 ? '--' : totalePatrimoniT}}</span></h3>
                                <ul class="item-list">
                                    <li *ngFor="let patrimonio of patrimoniT">
                                        <span class="badge patrimonio">{{patrimonio.numero_proprieta}}</span>
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}</span>
                                    </li>
                                    <li *ngIf="patrimoniT.length == 0">--</li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Altro <span>--</span></h3>
                                <ul class="item-list">
                                    <li>--</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span
                        class="nome">{{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile" *ngFor="let immobileLista of sessionService.getImmobiliCliente()"
                    (click)="apriSchedaImmobile(immobileLista.proprieta_id)">
                    <div class="indirizzo">{{immobileLista.indirizzo}},
                        {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}}
                        ({{immobileLista.provincia}})</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button add">immobile</a>
                </div>
            </div>
        </div>
    </div>
</div>