<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <button class="button back only-icon" (click)="goToHome()">&nbsp;</button>
                        <h3 class="page-title cliente">
                            {{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}} - Immobile
                        </h3>
                        <div style="float: right">
                            <a href="#" class="button view">Catastali</a>
                            <a [routerLink]="" class="button edit" (click)="goToWizard()">Modifica</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div [ngClass]="getIconaClasseImmobileItem(immobile.codice_tipologia)"></div>
                            <div class="item indirizzo">
                                {{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</div>
                            <div class="item date">{{immobile.data_aggiornamento | raDateFormat_gg_mm_aaaa}}</div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Proprietà: {{immobile.quota}} %<button
                                        class="button view only-icon"
                                        (click)="openModal('custom-modal-1')">&nbsp;</button></h3>
                                <ul class="item-list half-height">
                                    <li><span>Book Value</span><span>{{immobile.valore_acquisto}}</span></li>
                                    <li><span>Valore catastale</span><span>{{immobile.valore_acquisto}}</span></li>
                                    <li><span>Valore commerciale</span><span>-</span></li>
                                    <li><span>Rendita</span><span>{{immobile.dati_catastali ? immobile.dati_catastali.rendita : '-'}}</span>
                                    </li>
                                    <li><span>1ª casa</span><span>{{immobile.prima_casa ? 'Si' : 'No'}}</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="item-title">Mutuo: <button class="button view only-icon"
                                        (click)="apriPianoAmmortamento()">&nbsp;</button>
                                </div>
                                <ul class="item-list half-height">
                                    <li><span>Data</span><span>{{immobile.mutuo_dettaglio.data_inizio | raDateFormat_gg_mm_aaaa}}</span>
                                    </li>

                                    <li><span>Durata</span><span>{{immobile.mutuo_dettaglio.durata}}</span></li>
                                    <li><span>Tasso</span><span>{{immobile.mutuo_dettaglio.tipo_tasso}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Tasse <span>{{getTotaleTasse(immobile)}} €</span></h3>
                                <ul class="item-list half-height">
                                    <li *ngFor="let t of immobile.tasse">
                                        <span>{{t.descrizione_tassa}}</span><span>{{t.importo_annuale}} €</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Affitti
                                    <span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.importo_mensile : '-'}}</span>
                                </h3>
                                <ul class="item-list half-height">
                                    <li><span>Affittuario</span><span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.descrizione_affittuario : '-'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span
                        class="nome">{{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile" *ngFor="let immobileLista of sessionService.getImmobiliCliente()"
                    (click)="apriSchedaImmobile(immobileLista.proprieta_id)">
                    <div class="indirizzo">{{immobileLista.indirizzo}},
                        {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}}
                        ({{immobileLista.provincia}})</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div [ngClass]="getIconaClasseImmobileCell(immobileLista.codice_tipologia)">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                {{immobileLista.quota}}<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button add">immobile</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-quoteproprieta-modal id="custom-modal-1" class="modal-area">
    <div class="scheda modal">
        <div class="scheda-content">
            <div class="scheda-table">
                <div class="scheda-row">
                    <div class="item">
                        <h3 class="item-title">Quote proprietà</h3>
                        <ul class="item-list">
                            <li *ngFor="let coint of getCointestatari()">
                                <span>{{coint.nominativo}}</span><span>{{coint.quota}}%</span></li>
                        </ul>
                        <div class="item-footer">
                            <button (click)="closeModal('custom-modal-1');" class="button no-icon">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-quoteproprieta-modal>