<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path">
                <button class="button light" routerLink="/client-report-generale">GENERALE</button>&nbsp;
                <button class="button">ANALISI</button>
            </div>
        </div>
        <div class="content report">
            <div class="grafici">
                <!-- <img src="/assets/img/grafici-placeholder.jpg"> -->
                <ion-grid>
                    <ion-row>
                        <ion-col size="12" size-md>
                            <div>
                                <h3>Andamento</h3>
                                <canvas id="canvasAndamento" #linesCanvas aspectRatio=3>{{linesChart}}</canvas>
                            </div>
                        </ion-col>
                    </ion-row>
                    <hr>
                    <ion-row>
                        <ion-col size-lg="6" size-md>
                            <div>
                                <h3>Indicatori</h3>
                                <canvas id="canvasIndicatori" #indicatoriCanvas>{{indicatoriChart}}</canvas>
                            </div>
                        </ion-col>
                        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                            <div>
                                <h3>Concentrazione</h3>
                                <canvas id="canvasConcentrazione" #concentrazioneCanvas>{{concentrazioneChart}}</canvas>
                            </div>
                        </ion-col>
                    </ion-row>
                    <hr>
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                            <div>
                                <h3>Tipologia</h3>
                                <canvas id="canvasTipologia" #tipologiaCanvas>{{tipologiaChart}}</canvas>
                            </div>
                        </ion-col>
                        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                            <div>
                                <h3>Affittuari</h3>
                                <canvas id="canvasAffittuari" #affittuariCanvas>{{affittuariChart}}</canvas>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </div>
        </div>
    </div>
</div>