<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path"><button class="button back only-icon"
                    (click)="goToPage('client-report-generale')">&nbsp;</button><span
                    [ngClass]="getIconaClasseImmobile(reportGenerale.codice_tipologia)">&nbsp;</span>{{reportGenerale.indirizzo + ' ' + reportGenerale.civico + ', ' + reportGenerale.citta}}
            </div>
        </div>
        <div class="content report">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">
                                    <small>{{reportGenerale.indirizzo + ' ' + reportGenerale.civico + ', ' + reportGenerale.citta}}</small>
                                </h3>
                                <ul class="item-list">
                                    <li *ngFor="let passivo of reportGenerale.passivi">
                                        <span>{{passivo.descrizione_passivo}}</span><span>{{passivo.importo_annuale | k_money}}
                                            &euro;</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>