<div class="main-header client">
    <div class="hamburger"> </div>
    <div class="header-bar" style="padding-right: 0;">
        <a href="#" class="client-area">Patrimonio</a>
    </div>
</div>
<div class="main-body client">
    <div class="left-menu left-side-element " style="display: none;">
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <div class="base">
            <ul>
                <li>
                    <div class="voice dashboard selected" routerLink="/dashboard" routerDirection="root">Dashboard</div>
                </li>
                <li>
                    <div class="voice list" routerLink="/client-immobili" routerDirection="root">Immobili</div>
                </li>
                <!-- <li>
                    <div class="voice report" routerLink="/dashboard" routerDirection="root">Report</div>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="content-area">
        <div class="area-spec">
            <div class="item immobili"><span class="badge">4</span></div>
            <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span
                    class="bv_value">{{sessionService.getCliente().book_value}}</span></div>
        </div>
        <div class="content ">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <!--goToListaImmobili-->
                        <!--<div class="scheda-row full-width">
                            <button (click)="goToListaImmobili()">Immobili (temp.)</button>
                        </div>-->
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Abitazioni <a href="#" class="button view only-icon">&nbsp;</a>
                                </div>
                                <ul class="item-list half-height">
                                    <li *ngFor="let patrimonio of patrimoniA">
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Commerciali <a href="#" class="button view only-icon">&nbsp;</a>
                                </div>
                                <ul class="item-list half-height">
                                    <li *ngFor="let patrimonio of patrimoniC">
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Terreni <a href="#" class="button view only-icon">&nbsp;</a>
                                </div>
                                <ul class="item-list half-height">
                                    <li *ngFor="let patrimonio of patrimoniT">
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>