<div class="main-header client">
    <div class="hamburger"> </div>
    <div class="header-bar" style="padding-right: 0;">
        <a href="#" class="client-area">Patrimonio</a>
    </div>
</div>



<div class="main-body client">
    <div class="left-menu left-side-element " style="display: none;">
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <div class="base">
            <ul>
                <li>
                    <div class="voice dashboard selected" routerLink="/dashboard" routerDirection="root">Dashboard</div>
                </li>
                <li>
                    <div class="voice list" routerLink="/dashboard" routerDirection="root">Client list</div>
                </li>
                <li>
                    <div class="voice report" routerLink="/dashboard" routerDirection="root">Report</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-area">
        <div class="area-spec">
            <div class="item immobili"><span class="badge">4</span></div>
            <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span class="bv_value">450K</span></div>
        </div>
        <div class="content ">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Abitazioni <a href="#" class="button view only-icon">&nbsp;</a></div>
                                <ul class="item-list half-height">
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Abitazioni <span>500K</span></h3>
                                <ul class="item-list half-height">
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>