<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item immobili"><span class="badge">4</span></div>
            <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span
                    class="bv_value">{{getBookValueCliente()}} K</span></div>
        </div>
        <div class="content ">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <!--goToListaImmobili-->
                        <!--<div class="scheda-row full-width">
                            <button (click)="goToListaImmobili()">Immobili (temp.)</button>
                        </div>-->
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Abitazioni <span>{{totalePatrimoniA}} K</span></div>
                                <ul class="item-list half-height">
                                    <li *ngFor="let patrimonio of patrimoniA">
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}
                                            K</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Commerciali <span>{{totalePatrimoniC}} K</span></div>
                                <ul class="item-list half-height">
                                    <li *ngFor="let patrimonio of patrimoniC">
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}
                                            K</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <div class="item-title">Terreni <span>{{totalePatrimoniT}} K</span></div>
                                <ul class="item-list half-height">
                                    <li *ngFor="let patrimonio of patrimoniT">
                                        <span>{{patrimonio.codice_catastale}}</span><span>{{patrimonio.book_value}}
                                            K</span>
                                    </li>
                                    <li *ngIf="patrimoniA.length == 0">--</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>