<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path"><button class="button back only-icon">&nbsp;</button><span class="tipologia casa">&nbsp;</span> Viale nino bixio cincillà</div>
        </div>
        <div class="content lista-documentali">
            <div class="list">
                <ul class="folder-documentali">
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                    <li class="documentale file">Prova nome file</li>
                </ul>
            </div>
        </div>
    </div>
</div>