<ion-app>
    <!-- HEADER COMUNE A TUTTE LE PAGINE -->
    <div class="main-header" style="z-index: 1000">
        <div class="logo"></div>
        <div class="header-bar">
            <img src="/assets/img/readvice-logo@2x.png" class="title">
        </div>
        <div class="tools" style="display: none;">
            <a href="#" class="hints tasks"><span>10</span></a>
            <a href="#" class="hints alerts"><span>10</span></a>
            <button class="user">{{getUtenteEmail()}}</button>
            <!--(click)="goToProfiloUtente()"-->
        </div>
    </div>
    <!-- FINE HEADER COMUNE -->
    <ion-router-outlet animated="false"></ion-router-outlet>
</ion-app>