<ion-app>
    <!-- HEADER COMUNE A TUTTE LE PAGINE -->
    <div class="main-header client" style="z-index: 1000" *ngIf="!isLoginPage()">
        <span class="hamburger" (click)="show()"> </span>
        <div class="header-bar" style="padding-right: 0;">
            <span class="client-area">{{sessionService.getIntestazionePagina()}}</span>
        </div>
    </div>
    <!-- FINE HEADER COMUNE -->
    <ion-router-outlet animated="false"></ion-router-outlet>
    <div class="left-menu left-side-element" *ngIf="showMe"  (click)="show()" style="z-index: 1001"  >
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <div class="base">
            <ul>
                <li>
                    <div class="voice dashboard selected" routerLink="/client-home" routerDirection="root"
                        (click)="show()">Dashboard</div>
                </li>
                <li>
                    <div class="voice list" routerLink="/client-immobili" routerDirection="root" (click)="show()">Client
                        list</div>
                </li>
                <li>
                    <div class="voice report" routerLink="/client-report-generale" routerDirection="root"
                        (click)="show()">Report</div>
                </li>
                <li>
                    <div class="voice logout" routerDirection="root"
                        (click)="presentAlertLogout()">Report</div>
                </li>
            </ul>
        </div>
    </div>
</ion-app>