<div class="main-body client">
    <div class="content-area">
        <div class="area-spec" style="display: none;">
            <div class="item immobili"><span class="badge">4</span></div>
            <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span
                    class="bv_value">{{getCurrency(sessionService.getCliente().book_value)}} K</span>
            </div>
        </div>
        <div class="content lista-immobili bottom-footer">
            <div class="list">
                <ul class="lista-immobile">
                    <li class="immobile" *ngFor="let immobileLista of sessionService.getImmobiliCliente()"
                        (click)="apriSchedaImmobile(immobileLista.proprieta_id)">
                        <div class="indirizzo">{{immobileLista.indirizzo}},
                            {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}}
                            ({{immobileLista.provincia}})</div>
                        <div class="tipologia table">
                            <div class="row">
                                <div [ngClass]="getIconaClasseImmobileCell(immobileLista.codice_tipologia)">
                                </div>
                            </div>
                        </div>
                        <div class="quota table">
                            <div class="row">
                                <div class="cell">
                                    {{immobileLista.quota}}<small>%</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <button class="button add" (click)="goToWizard()">immobile</button>
                </div>
            </div>
        </div>
    </div>
</div>