<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path">
                <button class="button">GENERALE</button>&nbsp;
                <button class="button light" routerLink="/client-report-analisi">ANALISI</button>
            </div>
        </div>
        <div class="content report">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width" *ngFor="let immobile of situazioneImmobili">
                            <div class="item">
                                <h3 class="item-title">
                                    <small>{{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</small>
                                </h3>
                                <ul class="item-list">
                                    <li><span>Possesso</span><span>{{immobile.quota}}%</span></li>
                                    <li><span>Categoria</span><span>{{immobile.codice_tipologia}}</span></li>
                                    <li><span>Passivi</span><span>{{getCurrency(getTotalePassiviImmobile(immobile))}}
                                            &euro; <img src="/assets/img/icon-view-blue-mini@2x.png"
                                                style="margin-left: 10px"
                                                (click)="caricaPassiviImmobile(immobile)"></span></li>
                                    <li><span>Attivi</span><span>{{getCurrency(getTotaleAttiviImmobile(immobile))}} &euro;
                                            <img src="/assets/img/icon-view-blue-mini@2x.png" style="margin-left: 10px"
                                                *ngIf="getTotaleAttiviImmobile(immobile) > 0"
                                                (click)="caricaAttiviImmobile(immobile)"></span></li>
                                    <li><b><span>Totale</span><span>{{getCurrency(getTotaleImmobile(immobile))}}
                                                &euro;</span></b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>