<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path"><button class="button back only-icon"
                    (click)="goToPage('client-report-generale')">&nbsp;</button><span
                    [ngClass]="getIconaClasseImmobile(reportGenerale.codice_tipologia)">&nbsp;</span>{{reportGenerale.indirizzo + ' ' + reportGenerale.civico + ', ' + reportGenerale.citta}}
            </div>
        </div>
        <div class="content report">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">
                                    <small>{{reportGenerale.indirizzo + ' ' + reportGenerale.civico + ', ' + reportGenerale.citta}}</small>
                                </h3>
                                <ul class="item-list" *ngIf="reportGenerale.attivo">
                                    <li><span>Affittuario</span><span>{{reportGenerale.attivo.descrizione_affittuario}}</span>
                                    </li>
                                    <li><span>Cedolare
                                            secca</span><span>{{(reportGenerale.attivo.cedolare_secca ? 'SI' : 'NO')}}</span>
                                    </li>
                                    <li *ngIf="reportGenerale.attivo.cedolare_secca"><span>Aliquota
                                            Cedolare</span><span>{{reportGenerale.attivo.aliquota_cedolare}}
                                            </span></li>
                                    <li><span>Prima Scadenza
                                            Anni</span><span>{{reportGenerale.attivo.prima_scadenza_anni}}</span></li>
                                    <li><span>Data
                                            Inizio</span><span>{{reportGenerale.attivo.data_inizio | raDateFormat_gg_mm_aaaa}}</span>
                                    </li>
                                    <li><span>Importo Mensile</span><span>{{getCurrency(reportGenerale.attivo.importo_mensile)}}
                                            &euro;</span></li>
                                    <li><span>Importo Annuale</span><span>{{getCurrency(totale)}}
                                            &euro;</span></li>
                                    <li><span>Importo Netto</span><span>{{getCurrency(netto)}}
                                        &euro;</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>