<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path"><button class="button back only-icon">&nbsp;</button><span class="tipologia casa">&nbsp;</span> Viale nino bixio</div>
        </div>
        <div class="content report">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">Passivi <a href="#" class="button download only-icon">&nbsp;</a></h3>
                                <ul class="item-list">
                                    <li><span>Affitto mensile</span><span>1k &euro;</span></li>
                                    <li><span>Affittuario</span><span>Persona fisica</span></li>
                                    <li><span>Cedolare secca</span><span>Si</span></li>
                                    <li><span>Telefono</span><span>6.3k &euro;</span></li>
                                    <li><span>Scadenza</span><span>224</span></li>
                                    <li><span>Spese condominiali<br><small>se non comprese</small></span><span>6.3k &euro;</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>