<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <span>filtra per:</span>
                        <input type="text" placeholder="nome" [(ngModel)]="searchName">
                        <input type="text" placeholder="C.F." [(ngModel)]="searchCF">
                        <a href="#" class="button search">&nbsp;</a>
                        <button style="float: right" class="button add" (click)="goToNuovoCliente()">cliente</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content home-list">
            <div class="header">
                <div class="dettaglio-cliente" *ngIf="sessionService.getCliente().cliente_id">
                    <div class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span
                                        class="badge">{{sessionService.getCliente().numero_proprieta}}</span>
                                </div>
                                <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span
                                        class="bv_value">{{sessionService.getCliente().book_value}}K</span><button
                                        (click)="goToPatrimonio()" class="button view only-icon">&nbsp;</button></div>
                                <div class="item anagrafica"><span class="nome">{{sessionService.getCliente().nome}}
                                        {{sessionService.getCliente().cognome}}</span><span
                                        class="cf">{{sessionService.getCliente().codice_fiscale}}</span><span
                                        class="email">{{sessionService.getCliente().email}}</span></div>
                                <div class="item tools"><button href="#"
                                        class="button edit full-width">Modifica</button><button href="#"
                                        class="button report full-width" (click)="goToAnalisiGenerale()">Report</button>
                                </div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </div>
                </div>
                <div class="dettaglio-cliente" *ngIf="!(sessionService.getCliente().cliente_id)">
                    <div class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item blank">
                                    <p>Nessun cliente selezionato</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-title">numero clienti ({{clienti.length}}):</div>
            </div>
            <div class="list">
                <ul class="lista-cliente">
                    <li *ngFor="let clienteLista of clienti | clientfilter: searchName:searchCF" class="cliente"
                        (click)="caricaCliente(clienteLista)">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">{{clienteLista.numero_proprieta}}</span>
                                </div>
                                <div class="item bv"><span class="bv_value">{{clienteLista.book_value}}K</span><span
                                        class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">{{clienteLista.nome}}
                                        {{clienteLista.cognome}}</span><span
                                        class="cf">{{clienteLista.codice_fiscale}}</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell" *ngIf="!sessionService.getCliente().cliente_id">
                    <span class="small">Nessun cliente selezionato</span>
                </div>
                <div class="header-cell" *ngIf="sessionService.getCliente().cliente_id">
                    <span class="small">immobili di</span>
                    <span class="nome">{{sessionService.getCliente().nome}}
                        {{sessionService.getCliente().cognome}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile" *ngFor="let immobileLista of immobiliCliente"
                    (click)="apriSchedaImmobile(immobileLista.proprieta_id)">
                    <div class="indirizzo">{{immobileLista.indirizzo}},
                        {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}}
                        ({{immobileLista.provincia}})</div>
                    <div class="tipologia table">
                        <div class="row">
                            <!-- <div [ngClass]="getIconaClasseImmobileCell(immobileLista.codice_catastale)">
                            </div> -->
                            <div [ngClass]="getIconaClasseImmobileCell(immobileLista.codice_tipologia)">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <button class="button add" (click)="goToWizard()">immobile</button>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <button class="button add" (click)="svuotaCache()">svuota</button>
                </div>
            </div>
        </div>
    </div>
</div>