<div class="main-body client wizard">
    <div class="content-area">
        <div class="area-spec">
            <div [ngClass]="getIconaClasseImmobileItem(immobile.codice_tipologia)"></div>
            <div class="item indirizzo" *ngIf="!(immobile.indirizzo && immobile.indirizzo != '')"><i>inserire un
                    indirizzo</i></div>
            <div class="item indirizzo" *ngIf="immobile.indirizzo && immobile.indirizzo != ''">
                {{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</div>

        </div>
        <div class="content bottom-footer">
            <div id="wizard-start" *ngIf="wizardStart">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title" *ngIf="immobile.indirizzo && immobile.indirizzo != ''"><span
                                            class="step">1</span> Aggiungi indirizzo</div>
                                    <div class="item-title" *ngIf="!(immobile.indirizzo && immobile.indirizzo != '')">
                                        <span class="step">1</span> Modifica indirizzo</div>
                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item left" style="width: 75%;">
                                            <label>Indirizzo</label>
                                            <input type="text" placeholder="" value="" [(ngModel)]="immobile.indirizzo">
                                        </div>
                                        <div class="form-item right" style="width: 25%;">
                                            <label>Civico</label>
                                            <input type="text" placeholder="" value="" [(ngModel)]="immobile.civico">
                                        </div>
                                        <div class="form-item left " style="width: 40%;" [formGroup]="form"
                                            novalidate="">
                                            <label>Comune</label>
                                            <ngx-select [items]="ddlComuniOptions" optionValueField="codice"
                                                optionTextField="descrizione" (typed)="comuneSearchChange($event)"
                                                (selectionChanges)="comuneSelected($event)"
                                                [formControl]="selectControl" formControlName="select">
                                            </ngx-select>
                                        </div>
                                        <div class="form-item left" style="width: 25%;">
                                            <label>Cap</label>
                                            <input type="text" placeholder="" [(ngModel)]="immobile.cap">
                                        </div>
                                        <div class="form-item left " style="width: 35%;">
                                            <label>Provincia</label>
                                            <input type="text" placeholder="" [(ngModel)]="immobile.provincia">
                                        </div>
                                        <div class="form-item left " style="width: 100%;">
                                            <label>Categoria Catastale</label>
                                            <select class="select-css"
                                                (change)="selezionaCategoriaCatastale($event.target)">
                                                <option *ngFor="let cat of categorieCatastali" value="{{cat.codice}}"
                                                    [attr.selected]="cat.codice+'' === immobile.tipologie_catastali_id+'' ? 'selected' : null">
                                                    {{cat.descrizione}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-item left " style="width: 50%;">
                                            <label>Zone OMI</label>
                                            <select class="select-css" (change)="selezionaOmi($event.target)">
                                                <option *ngFor="let omi of tipiOmi" [ngValue]="omi.codice"
                                                    value="{{omi.codice}}"
                                                    [attr.selected]="omi.codice+'' === immobile.comune_zone_cod+'' ? 'selected' : null">
                                                    {{omi.descrizione}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-item left " style="width: 40%;">
                                            <label>Valore Immobile</label>
                                            <input type="text" placeholder="" value=""
                                                [(ngModel)]="ValoreAcquistoString">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard-destinazione" *ngIf="wizardDestinazione">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title"><span class="step">2</span> Destinazione</div>

                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item">
                                            <h3>Prima casa</h3>
                                            <a [routerLink]="" (click)="scegliDestinazione(true, true, false)"
                                                [ngClass]="{'button': true, 'choice': true, 'full-width': true, 'chosen': (primacasa && residente && !affittata && !isNewImmobile)}">Residente</a>
                                            <a [routerLink]="" (click)="scegliDestinazione(true, false, false)"
                                                [ngClass]="{'button': true, 'choice': true, 'full-width': true, 'chosen': (primacasa && !residente && !affittata && !isNewImmobile)}">Non
                                                residente</a>
                                            <a [routerLink]="" (click)="scegliDestinazione(true, true, true)"
                                                [ngClass]="{'button': true, 'choice': true, 'full-width': true, 'chosen': (primacasa && affittata && !isNewImmobile)}">Affittata</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item">
                                            <h3>Seconda casa</h3>
                                            <a [routerLink]="" (click)="scegliDestinazione(false, true, false)"
                                                [ngClass]="{'button': true, 'choice': true, 'full-width': true, 'chosen': (!primacasa && residente && !affittata && !isNewImmobile)}">Residente</a>
                                            <a [routerLink]="" (click)="scegliDestinazione(false, false, false)"
                                                [ngClass]="{'button': true, 'choice': true, 'full-width': true, 'chosen': (!primacasa && !residente && !affittata && !isNewImmobile)}">Non
                                                residente</a>
                                            <a [routerLink]="" (click)="scegliDestinazione(false, true, true)"
                                                [ngClass]="{'button': true, 'choice': true, 'full-width': true, 'chosen': (!primacasa && affittata && !isNewImmobile)}">Affittata</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard-dati-destinazione" *ngIf="wizardDatiDestinazione">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title"><span class="step">3</span>{{headP1}}<img
                                            src="/assets/img/icon-right-arrow@2x.png">{{headP2}}<img
                                            src="/assets/img/icon-right-arrow@2x.png"> Mutuo</div>

                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item ">
                                            <label class="switch">
                                                <input type="checkbox" [(ngModel)]="immobile.mutuo">
                                                <span class="slider round"></span>
                                            </label>
                                            <label style="position: relative; top: 6px;">Mutuo</label>
                                        </div>
                                        <div *ngIf="immobile.mutuo">
                                            <div class="form-item">
                                                <label class="switch">
                                                    <input type="checkbox"
                                                        [(ngModel)]="immobile.mutuo_dettaglio.detrazione_interessi"
                                                        [disabled]="!immobile.mutuo">
                                                    <span class="slider round"></span>
                                                </label>
                                                <label style="position: relative; top: 6px;">Detrazione fiscale
                                                    interessi</label>
                                            </div>
                                            <div class="form-item ">
                                                <h5>Tasso</h5>
                                                <label class="container" style="margin-right: 15px !important;">Fisso
                                                    <input type="radio"
                                                        [checked]="immobile.mutuo_dettaglio.tipo_tasso == 'F'" value="F"
                                                        id="F" name="radioTasso" (change)="setTasso('F')"
                                                        [disabled]="!immobile.mutuo">
                                                    <span class=" checkmark"></span>
                                                </label>
                                                <label class="container">Variabile
                                                    <input type="radio"
                                                        [checked]="immobile.mutuo_dettaglio.tipo_tasso == 'V'" value="F"
                                                        id="F" name="radioTasso" (change)="setTasso('V')"
                                                        [disabled]="!immobile.mutuo">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-item single"
                                                *ngIf="immobile.mutuo_dettaglio.tipo_tasso == 'F'">
                                                <label>Tasso</label>
                                                <div class="type">
                                                    <input type="text" digitsonly numericType="number" maxlength="6"
                                                        placeholder=""
                                                        [(ngModel)]="immobile.mutuo_dettaglio.tasso_fisso"
                                                        [disabled]="!immobile.mutuo"><span>%</span>
                                                </div>
                                            </div>
                                            <div class="form-item left">
                                                <label>Euribor</label>
                                                <div class="type">
                                                    <select class="select-css"
                                                        (change)="selezionaEuribor($event.target)">
                                                        <option *ngFor="let eur of euribor" value="{{eur.codice}}"
                                                            selected="{{eur.codice === immobile.mutuo_dettaglio.euribor_id+'' ? 'selected' : ''}}">
                                                            {{eur.descrizione}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-item right">
                                                <label>Spread</label>
                                                <div class="type">
                                                    <input type="text" placeholder="" digitsonly numericType="decimal"
                                                        [(ngModel)]="immobile.mutuo_dettaglio.spread"
                                                        [disabled]="!immobile.mutuo"><span>%</span>
                                                </div>
                                            </div>
                                            <div class="form-item single">
                                                <label>Durata</label>
                                                <div class="type">
                                                    <input type="text" digitsonly numericType="number" maxlength="4"
                                                        placeholder="" value="24"
                                                        [(ngModel)]="immobile.mutuo_dettaglio.durata"
                                                        [disabled]="!immobile.mutuo"><span>mesi</span>
                                                </div>
                                            </div>
                                            <div class="form-item single">
                                                <label>Data inizio</label>
                                                <ra-date-picker [inputDate]="dataInizioMutuo"
                                                    [(ngModel)]="dataInizioMutuo" (sendDate)="associaData($event)">
                                                </ra-date-picker>
                                            </div>
                                            <div class="form-item single">
                                                <label>Importo iniziale</label>
                                                <div class="type">
                                                    <input type="text" placeholder="" value="24" digitsonly
                                                        numericType="decimal"
                                                        [(ngModel)]="immobile.mutuo_dettaglio.importo_iniziale"
                                                        [disabled]="!immobile.mutuo"><span>&euro;</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard-dati" *ngIf="wizardDati">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title"><span class="step">3</span>{{headP1}}<img
                                            src="/assets/img/icon-right-arrow@2x.png">{{headP2}}<img
                                            src="/assets/img/icon-right-arrow@2x.png"> Dati</div>

                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item single">
                                            <label>Tipo affittuario</label>
                                            <select class="select-css"
                                                (change)="selezionaTipoAffittuario($event.target)">
                                                <option *ngFor="let tipo of tipiAffittuario" [ngValue]="tipo.codice"
                                                    value="{{tipo.codice}}"
                                                    [attr.selected]="(immobile.affitto_dettaglio ? (tipo.codice+'' === immobile.affitto_dettaglio.tipo_affittuario_id + '' ? 'selected' : null) : '')">
                                                    {{tipo.descrizione}}</option>
                                            </select>
                                        </div>
                                        <div class="form-item single">
                                            <label>Durata Contratto</label>
                                            <div class="type">
                                                <input type="text" placeholder="" digitsonly numericType="number"
                                                    [(ngModel)]="AffittoDettaglioPrimaScadenzaAnniString"><span>anni</span>
                                            </div>
                                        </div>
                                        <div class="form-item single">
                                            <label>Data inizio</label>
                                            <ra-date-picker [inputDate]="dataInizioAffitto"
                                                [(ngModel)]="dataInizioAffitto" (sendDate)="associaDataAffitto($event)">
                                            </ra-date-picker>
                                        </div>
                                        <div class="form-item single">
                                            <label>Importo lordo mensile</label>
                                            <div class="type">
                                                <input type="text" name="importo_mensile" ngDefaultControl
                                                    placeholder="" digitsonly numericType="decimal"
                                                    [(ngModel)]="AffittoDettaglioMensileString"><span>&euro;</span>
                                            </div>
                                        </div>
                                        <div class="form-item ">
                                            <label>Spese condominiali comprese</label><br>
                                            <label class="switch">
                                                <input type="checkbox"
                                                    [(ngModel)]="AffittoDettaglioSpeseCondominialiString">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="form-item ">
                                            <label>Cedolare secca</label><br>
                                            <label class="switch">
                                                <input type="checkbox"
                                                    [(ngModel)]="immobile.affitto_dettaglio.cedolare_secca">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="form-item single">
                                            <label>Aliquota</label>
                                            <div class="type">
                                                <input type="text" placeholder="" digitsonly numericType="number"
                                                    [(ngModel)]="AffittoDettaglioAliquotaCedolareString"><span>%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard-catastali" *ngIf="wizardCatastali">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title"><span class="step">3</span>{{headP1}}<img
                                            src="/assets/img/icon-right-arrow@2x.png">{{headP2}}<img
                                            src="/assets/img/icon-right-arrow@2x.png"> Dati catastali</div>

                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item left">
                                            <label>Sezione urbana</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.sezione">
                                        </div>
                                        <div class="form-item right">
                                            <label>Foglio</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.foglio">
                                        </div>
                                        <div class="form-item left">
                                            <label>Particella</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.particella">
                                        </div>
                                        <div class="form-item right">
                                            <label>Sub</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.subalterno">
                                        </div>
                                        <div class="form-item left">
                                            <label>Zona censimento</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.zona">
                                        </div>
                                        <div class="form-item right">
                                            <label>Micro zona</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.micro_zona">
                                        </div>
                                        <div class="form-item left">
                                            <label>Categoria</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.categoria">
                                        </div>
                                        <div class="form-item right">
                                            <label>Classe</label>
                                            <input type="text" placeholder=""
                                                [(ngModel)]="immobile.dati_catastali.classe">
                                        </div>
                                        <div class="form-item left">
                                            <label>Consistenza</label>
                                            <input type="text" placeholder="">
                                        </div>
                                        <div class="form-item right">
                                            <label>Rendita</label>
                                            <div class="type">
                                                <input type="text" placeholder="" digitsonly numericType="decimal"
                                                    [(ngModel)]="DatiCatastaliRenditaString"><span>&euro;</span>
                                            </div>
                                        </div>
                                        <div class="form-item left">
                                            <label>S.catastale tot.</label>
                                            <div class="type">
                                                <input type="text" placeholder="" digitsonly numericType="decimal"
                                                    [(ngModel)]="DatiCatastaliSuperficieTotaleString"><span>m<sup>2</sup></span>
                                            </div>
                                        </div>
                                        <div class="form-item right">
                                            <label>S. cat.tot. esc.a.s.</label>
                                            <div class="type">
                                                <input type="text" placeholder="" digitsonly numericType="decimal"
                                                    [(ngModel)]="DatiCatastaliSuperficieInterniString"><span>m<sup>2</sup></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard-cointestatari" *ngIf="wizardCointestatari">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title"><span class="step">4</span>{{headP1}}<img
                                            src="/assets/img/icon-right-arrow@2x.png">{{headP2}}<img
                                            src="/assets/img/icon-right-arrow@2x.png"> Cointestatari</div>
                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form auto-height">
                                        <div class="form-item single">
                                            <label>Nominativo</label>
                                            <div class="type">
                                                <input type="text" placeholder=""
                                                    [(ngModel)]="cointestatarioSelezionato.nominativo">
                                            </div>
                                        </div>
                                        <div class="form-item single">
                                            <label>Codice Fiscale</label>
                                            <div class="type">
                                                <input type="text" placeholder="" value="24"
                                                    [(ngModel)]="cointestatarioSelezionato.codice_fiscale"
                                                    pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$"
                                                    required="required">
                                            </div>
                                        </div>
                                        <div class="form-item single">
                                            <label>Quota</label>
                                            <div class="type">
                                                <input type="text" placeholder="" digitsonly numericType="number"
                                                    [(ngModel)]="importoQuotaCointestatarioSelezionataString"><span>%</span>
                                            </div>
                                        </div>
                                        <div class="form-item single">
                                            <button class="button add"
                                                (click)="aggiungiCointestatario()">aggiungi</button>
                                        </div>
                                    </div>
                                    <ul class="item-list form auto-height">
                                        <li><span>Nominativo</span><span>Quota</span></li>
                                        <li *ngFor="let cointestatario of immobile.cointestatari">
                                            <span>{{cointestatario.nominativo}}</span><span>{{cointestatario.quota}}
                                                %
                                                <button class="button small"
                                                    (click)="rimuoviCointestatario(cointestatario)">x</button></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="item-list single">
                                        <li><span>Nominativo</span><span>Quota</span></li>
                                        <li *ngFor="let cointestatario of immobile.cointestatari">
                                            <span>{{cointestatario.nominativo}}</span><span>{{(cointestatario.quota+'').replace('.',',')}}
                                                %
                                                <button class="button small"
                                                    (click)="rimuoviCointestatario(cointestatario)">x</button></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard-tassazione" *ngIf="wizardTassazione">
                <div class="scheda">
                    <div class="scheda-content">
                        <div class="scheda-table single-column">
                            <div class="scheda-row">
                                <div class="item">
                                    <div class="item-title"><span class="step">4</span>{{headP1}}<img
                                            src="/assets/img/icon-right-arrow@2x.png">{{headP2}}<img
                                            src="/assets/img/icon-right-arrow@2x.png"> Tassazione</div>
                                </div>
                            </div>
                            <div class="scheda-table">
                                <div class="item">
                                    <div class="item-list form  auto-height">
                                        <div class="form-item single">
                                            <label>Tipologia tassa</label>
                                            <select class="select-css" (change)="selezionaTassa($event.target)">
                                                <option *ngFor="let tipologia of tipologieTasse"
                                                    value="{{tipologia.codice}}"
                                                    selected="{{tipologia.codice === tassaSelezionata.tassa_id+'' ? 'selected' : ''}}">
                                                    {{tipologia.descrizione}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-item single">
                                            <label>Importo annuale</label>
                                            <div class="type">
                                                <input type="text" placeholder="" value="24" digitsonly
                                                    numericType="decimalIta"
                                                    [(ngModel)]="importoTassaSelezionataString"><span>&euro;</span>
                                            </div>
                                        </div>
                                        <div class="form-item single">
                                            <button class="button add" (click)="aggiungiTassa()">aggiungi</button>
                                        </div>
                                    </div>
                                    <ul class="item-list form  auto-height">
                                        <li><span>Tipologia tassa</span><span>Importo annuale</span></li>
                                        <li *ngFor="let tassa of immobile.tasse">
                                            <span>{{tassa.descrizione_tassa}}</span><span>{{(tassa.importo_annuale+'').replace('.',',')}}
                                                &euro;
                                                <button class="button small"
                                                    (click)="rimuoviTassa(tassa)">x</button></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell" id="wizard-start" *ngIf="wizardStart">
                    <button class="button light back left" style="display: none">indietro</button>
                    <button class="button forward right" (click)="goToDestinazione()">avanti</button>
                </div>
                <div class="cell" id="wizard-destinazione" *ngIf="wizardDestinazione">
                    <button class="button light back left" (click)="goToStart()">indietro</button>
                </div>
                <div class="cell" id="wizard-dati-destinazione" *ngIf="wizardDatiDestinazione">
                    <button class="button light back left" (click)="goToDestinazione()">indietro</button>
                    <button class="button forward right" (click)="goToDati()">avanti</button>
                </div>
                <div class="cell" id="wizard-dati" *ngIf="wizardDati">
                    <button class="button light back left" (click)="goToDatiDestinazione()">indietro</button>
                    <button class="button forward right" (click)="goToCatastali()">avanti</button>
                </div>
                <div class="cell" id="wizard-catastali" *ngIf="wizardCatastali">
                    <button class="button light back left" (click)="goToDatiBack()">indietro</button>
                    <button class="button forward right" (click)="goToCointestatari()">avanti</button>
                </div>
                <div class="cell" id="wizard-cointestatari" *ngIf="wizardCointestatari">
                    <button class="button light back left" (click)="goToCatastali()">indietro</button>
                    <button class="button forward right" (click)="goToTassazione()">avanti</button>
                </div>
                <div class="cell" id="wizard-tassazione" *ngIf="wizardTassazione">
                    <button class="button light back left" (click)="goToCointestatari()">indietro</button>
                    <button class="button forward right" (click)="salvaImmobile()">salva</button>
                </div>
            </div>
        </div>
    </div>
</div>