<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div class="item path"><button class="button back only-icon">&nbsp;</button><span [ngClass]="getIconaClasseImmobileItem(immobile.codice_tipologia)">&nbsp;</span> {{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width" *ngFor="let annoPiano of anniPianoAmmortamento">
                            <div class="item">
                                <h3 class="item-title">{{annoPiano.anno}}</h3>
                                <ul class="item-list" *ngFor="let piano of annoPiano.piano_lista; let i = index">
                                    <li><strong>rata n.{{i}}</strong></li>
                                    <li><span>importo rata</span><span>{{piano.importo_rata}} &euro;</span></li>
                                    <li><span>quota interessi</span><span>{{piano.quota_interessi}} &euro;</span></li>
                                    <li><span>quota capitale</span><span>{{piano.quota_capitale}} &euro;</span></li>
                                    <li><span>interessi residui</span><span>{{piano.interessi_residui}} &euro;</span></li>
                                    <li><span>capitale residuo</span><span>{{piano.capitale_residuo}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>