<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <a href="#" class="button back only-icon">&nbsp;</a>
                        <h3 class="page-title cliente">Francesca Palmi - Catastali</h3>
                        <div style="float: right"><a href="#" class="button upload">Invia scheda</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item tipologia abitazione"></div>
                            <div class="item indirizzo">piazza privata Guide Maquiguas, Cervinia</div>
                            <div class="item date"><span>Novembre</span><span>20</span><span>2019</span></div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table single-column">
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Abitazioni <a href="#" class="button view only-icon">&nbsp;</a>
                                </h3>
                                <ul class="item-list full-height">
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Abitazioni <span>500K</span></h3>
                                <ul class="item-list full-height">
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span class="nome">Paolo Rossi</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile selected">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell commerciale">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell parcheggio">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell magazzino">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell commerciale">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell parcheggio">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell magazzino">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button add">immobile</a>
                </div>
            </div>
        </div>
    </div>
</div>