<div class="main-header client">
    <div class="hamburger"> </div>
    <div class="header-bar" style="padding-right: 0;">
        <a href="#" class="client-area">Patrimonio</a>
    </div>
</div>
<div class="main-body client">
    <div class="left-menu left-side-element " style="display: none;">
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <div class="base">
            <ul>
                <li>
                    <div class="voice dashboard selected" routerLink="/dashboard" routerDirection="root">Dashboard</div>
                </li>
                <li>
                    <div class="voice list" routerLink="/client-immobili" routerDirection="root">Immobili</div>
                </li>
                <!-- <li>
                    <div class="voice report" routerLink="/dashboard" routerDirection="root">Report</div>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="content-area">
        <div class="area-spec">
            <div [ngClass]="getIconaClasseImmobileItem(immobile.codice_tipologia)"></div>
            <div class="item indirizzo">{{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</div>
        </div>
        <div class="content ">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Proprietà: {{immobile.quota}} %<button class="button view only-icon" (click)="openModal('custom-modal-1')">&nbsp;</button></h3>
                                <ul class="item-list half-height">
                                    <li><span>Book Value</span><span>{{immobile.valore_acquisto}}</span></li>
                                    <li><span>Valore catastale</span><span>{{immobile.valore_acquisto}}</span></li>
                                    <li><span>Valore commerciale</span><span>-</span></li>
                                    <li><span>Rendita</span><span>{{immobile.dati_catastali ? immobile.dati_catastali.rendita : '-'}}</span>
                                    </li>
                                    <li><span>1ª casa</span><span>{{immobile.prima_casa ? 'Si' : 'No'}}</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="item-title">Mutuo: <button class="button view only-icon" *ngIf="immobile.mutuo" (click)="apriPianoAmmortamento()">&nbsp;</button>
                                </div>
                                <ul class="item-list half-height" *ngIf="immobile.mutuo">
                                    <li><span>Data</span><span>{{immobile.mutuo_dettaglio.data_inizio | raDateFormat_gg_mm_aaaa}}</span>
                                    </li>
                        
                                    <li><span>Durata</span><span>{{immobile.mutuo_dettaglio.durata}}</span></li>
                                    <li><span>Tasso</span><span>{{immobile.mutuo_dettaglio.tipo_tasso}}</span></li>
                                </ul>
                                <div *ngIf="!immobile.mutuo">
                                    <span>Mutuo Assente</span>
                                </div>
                            </div>
                        </div>
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Tasse <span>{{getTotaleTasse(immobile)}} €</span></h3>
                                <ul class="item-list half-height">
                                    <li *ngFor="let t of immobile.tasse">
                                        <span>{{t.descrizione_tassa}}</span><span>{{t.importo_annuale}} €</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Affitti
                                    <span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.importo_mensile : '-'}}</span>
                                </h3>
                                <ul class="item-list half-height">
                                    <li><span>Affittuario</span><span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.descrizione_affittuario : '-'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>