<div class="main-body client">
    <div class="content-area">
        <div class="area-spec">
            <div [ngClass]="getIconaClasseImmobileItem(immobile.codice_tipologia)"></div>
            <div class="item indirizzo">{{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</div>

        </div>
        <div class="content bottom-footer">
            <div class="scheda">
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">Proprietà: {{immobile.quota}} %<button class="button view only-icon" (click)="openModal('custom-modal-1')">&nbsp;</button></h3>
                                <ul class="item-list">
                                    <li><span>Book Value</span><span>{{getCurrency(immobile.valore_acquisto)}}
                                            €</span></li>
                                    <li><span>Valore catastale</span><span>{{getCurrency(immobile.valore_catastale)}}
                                            €</span></li>
                                    <li><span>Valore
                                            commerciale</span><span>{{getCurrency(immobile.valore_commerciale)}}
                                            €</span></li>
                                    <li><span>Rendita</span><span>{{immobile.dati_catastali ? getCurrency(immobile.dati_catastali.rendita) : '-'}}
                                            €</span>
                                    </li>
                                    <li><span>1ª casa</span><span>{{immobile.prima_casa ? 'Si' : 'No'}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">Mutuo: <button class="button view only-icon" *ngIf="immobile.mutuo" (click)="apriPianoAmmortamento()">&nbsp;</button>
                                </h3>
                                <ul class="item-list" *ngIf="immobile.mutuo">
                                    <li><span>Data</span><span>{{immobile.mutuo_dettaglio.data_inizio | raDateFormat_gg_mm_aaaa}}</span>
                                    </li>

                                    <li><span>Durata</span><span>{{immobile.mutuo_dettaglio.durata}}</span></li>
                                    <li><span>Tasso</span><span>{{immobile.mutuo_dettaglio.tipo_tasso == 'F' ? 'Fisso' : 'Variabile'}}</span>
                                    </li>
                                </ul>
                                <ul class="item-list" *ngIf="!immobile.mutuo">
                                    <li><span><i>Mutuo Assente</i></span><span>&nbsp;</span>&nbsp;</li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">Tasse <span>{{getCurrency(getTotaleTasse(immobile))}} €</span>
                                </h3>
                                <ul class="item-list">
                                    <li *ngFor="let t of immobile.tasse">
                                        <span>{{t.descrizione_tassa}}</span><span>{{getCurrency(t.importo_annuale)}}
                                            €</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row full-width">
                            <div class="item">
                                <h3 class="item-title">Affitto
                                    <span>{{immobile.affitto_dettaglio ? getCurrency(immobile.affitto_dettaglio.importo_mensile) + ' €' : ''}}</span>
                                </h3>
                                <ul class="item-list" *ngIf="immobile.affitto_dettaglio">
                                    <li><span>Affittuario</span><span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.descrizione_affittuario : '-'}}</span>
                                    </li>
                                </ul>
                                <div *ngIf="!immobile.affitto_dettaglio">
                                    <span>Non affittato</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <button class="button documentale" routerLink="/client-documentale">Doc</button>
                    <button class="button edit" (click)="goToWizardEdit()">Modifica</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-quoteproprieta-modal id="custom-modal-1" class="modal-area">
    <div class="scheda modal client">
        <div class="scheda-content">
            <div class="scheda-table">
                <div class="scheda-row">
                    <div class="item">
                        <h3 class="item-title">Quote proprietà</h3>
                        <ul class="item-list">
                            <li *ngFor="let coint of getCointestatari()">
                                <span>{{coint.nominativo}}</span><span>{{coint.quota}}%</span></li>
                        </ul>
                        <div class="item-footer">
                            <button (click)="closeModal('custom-modal-1');" class="button no-icon">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-quoteproprieta-modal>